<div class="container table-responsive text-center my-2">
  <div class="h2 py-2 mt-3">
    Produkty
    <button class="btn btn-primary">Dodaj</button>
  </div>
  <div *ngIf="loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="!loading && products.length > 0">
    <table class="table table-hover table-sm table-dark p-3">
      <thead>
      <tr>
        <th scope="col">LP</th>
        <th scope="col">User ID</th>
        <th scope="col">Img</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Opis</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="py-1" *ngFor="let i = index; let product of products | paginate: { id: 'admin_product_pagination', itemsPerPage: 5, currentPage: page, totalItems: totalRecords }"
        [attr.data-index]="i"
      >
        <td colspan="6" *ngIf="product.id === toEdit; else row">
          <app-product-form class="min-vw-100"  [(product)]="product" (done)="close()"></app-product-form>
        </td>
        <ng-template #row>
          <th class="align-middle" scope="row">{{ i + 1 }}</th>
          <td class="align-middle">{{ product.user_id }}</td>
          <td class="align-middle w-25 max-width p-2">
            <img class="img-fluid w-100" src="{{ product.img_url }}" alt="">
          </td>
          <td class="align-middle">{{ product.name }}</td>
          <td class="align-middle p-2">{{ product.description }}</td>
          <td class="align-middle text-center m-auto">
            <button type="button" class="btn btn-outline-primary m-1" (click)="edit(product.id)">Edytuj</button>
            <button type="button" class="btn btn-outline-danger m-1" (click)="delete(product.id, i)">
              <span *ngIf="deletingProduct === product.id" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Usuń
            </button>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </table>
    <div class="col-12 text-center mt-3">
      <pagination-controls class="custom-pagination" id="admin_product_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  <div *ngIf="products.length <= 0">
    <p>Brak produktów.</p>
  </div>
</div>
