<div class="container text-left">
  <form class="w-50 m-auto" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="h3 text-center py-3">Dodaj nowego użytkownika</div>
    <div class="form-group">
      <label for="name">Imię i nazwisko</label>
      <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && form.name.errors }">
      <div *ngIf="submitted && form.name.errors" class="invalid-feedback d-block">
        <div *ngIf="form.name.errors.required">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
      <div *ngIf="submitted && form.email.errors" class="invalid-feedback d-block">
        <div *ngIf="form.email.errors.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
      <div *ngIf="submitted && form.password.errors" class="invalid-feedback d-block">
        <div *ngIf="form.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="row no-gutters p-0 pt-3">
      <div class="col-12 text-right">
        <button class="btn btn-primary text-right py-2 px-4" type="submit" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Dodaj
        </button>
      </div>
    </div>
  </form>
</div>
