<div class="container text-left">
  <form class="w-50 m-auto" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="h3 text-center py-3">Edytuj Użytkownika</div>
    <div class="form-group">
      <label for="name">Imie i nazwisko</label>
      <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && form.name.errors }">
      <div *ngIf="submitted && form.name.errors" class="invalid-feedback d-block">
        <div *ngIf="form.name.errors.required">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Email</label>
      <textarea class="form-control" id="description" formControlName="email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" rows="5"></textarea>
      <div *ngIf="submitted && form.email.errors" class="invalid-feedback d-block">
        <div *ngIf="form.email.errors.required">Description is required</div>
      </div>
    </div>
    <div class="row no-gutters p-0 pt-3">
      <div class="col-12 text-right">
        <button class="btn btn-outline-danger text-right py-2 px-4 mr-2" type="button" (click)="close()">
          Zamknij
        </button>
        <button class="btn btn-primary text-right py-2 px-4" type="submit" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Aktualizuj
        </button>
      </div>
    </div>
  </form>
</div>
