<div class="jumbotron vertical-center">
  <div class="container p-0">
    <div class="h1 text-center pb-5">Zaloguj się</div>
    <form class="col-sm-12 col-md-6 offset-md-3" #loginForm=ngForm (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required [(ngModel)]="loginRequest.email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required [(ngModel)]="loginRequest.password">
      </div>
      <div class="row no-gutters p-0 pt-3">
        <div class="col-6 text-left">
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Zaloguj</button>
        </div>
        <div class="col-6 text-right">
          <button routerLink="/register" type="button" class="btn btn-secondary">Rejestracja</button>
        </div>
      </div>
      <div class="col-12 no-gutters p-0 mt-2">
        <button type="button" class="btn btn-link text-light px-0">Logowanie testowe</button>
      </div>
    </form>
  </div>
</div>
